<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Thank you for submitting your assignment</h1>
        <h3>Please find the assignment details below</h3>
    </header>
</body>
</html>