<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/home.css">
  <title>Assignment Buddy</title>
</head>

<body>
  <header>
    <h1>Assignment Buddy</h1>
  </header>
  <div class="container">
    <form id="to-do-list" method="POST" action="/submit">
      <label for="task">Enter an assignment:</label>
      <input type="text" id="task" name="assignment" placeholder="Enter your assignment here">

      <label for="description">Assignment Description (Optional):</label>
      <textarea id="description" name="description" placeholder="Provide more details about the assinment (optional)"></textarea>
      
      <label for="class">Class:</label>
      <input type="text" id="class" name="class" placeholder="Which class is this for?">

      <label for="priority">Set priority:</label>
      <select id="priority" name="priority">
        <option value="low">Low</option>
        <option value="medium">Medium</option>
        <option value="high">High</option>
      </select>

      <label for="due-date">Due date:</label>
      <input type="date" id="due-date" name="date">

      <button type="submit">Add Task</button>
    </form>
  </div>
</body>

</html>
