* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Verdana', sans-serif;
    background-color: #f7f9fc;
    padding: 25px;
}

h1 {
    text-align: center;
    font-size: 2.8rem;
    color: #34495e;
    margin-bottom: 25px;
    text-transform: uppercase;
}

header {
    text-align: center;
    background-color: #f7f9fc;
    padding: 10px 0;
}

nav {
    padding-bottom: 15px;
    background-color: #f7f9fc;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #2e3a59;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    text-decoration: underline;
}

nav ul li a:link,
a:visited {
    color: #2c3e50;
}

ul {
    margin-bottom: 25px;
    padding-left: 20px;
}

li {
    background-color: #f7f9fc;
    padding: 18px;
    border-radius: 10px;
    margin-bottom: 20px;
}

strong {
    font-size: 1rem;
    color: #45a049;
    display: inline-block;
    margin-bottom: 8px;
}

form {
    display: inline-block;
    margin-top: 10px;
}

#priority-dropdown {
    display: none;
    width: auto;
    margin-top: 5px;
    position: absolute;
    background-color: #fff;
    padding: 10px; 
    border-radius: 5px;
   
}

#priority-dropdown select {
    display: block; 
    margin-bottom: 15px; 
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ddd;
    width: 100%; 
}

#priority-dropdown button {
    background-color: #45a049;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 8px 12px;
    width: 100%;
}

button {
    background-color: #45a049;
    color: white;
    font-size: 1.2rem;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

#dropdown button {
    background-color: #45a049;
    margin-left: 4px;
    align-items: center;
    color: white;
    font-size: 1rem;
    margin-right: 5px;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 8px 12px;
}
#past-due-button{
    background-color: red;
    color: white;
}

hr {
    border: 0;
    height: 1px;
    background-color: #ddd;
    margin: 20px 0;
}

p {
    text-align: center;
    font-size: 1.1rem;
    color: black;
    font-style: italic;
}

#all-form {
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: #45a049;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    width: 33%;
    margin: 0 auto; 
    margin-top: 15px;
}

@media(max-width: 770px) {
    h1 {
        font-size: 2.5rem;
    }

    header {
        padding-top: 0;
        padding-bottom: 0;
    }

    .container {
        padding: 15px;
    }

    button {
        padding: 10px 15px;
        display: block;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: center;
    }
}


@media (max-width: 600px) {
    h1 {
        font-size: 2.5rem;
    }

    header {
        padding-top: 0;
        padding-bottom: 0;
    }

    .container {
        padding: 15px;
    }

    button {
        padding: 10px 15px;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: center;
    }
}